*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  background-color: #282c34;
  color: white;
  display: grid;
  gap: 1.7rem;
  place-items: center;
  place-content: center;
}


.logoImg{
  width: 40%;
  max-width: 600px;
}

.counter_container{
  display: grid;
  gap: 1.7rem;
}

.buttonGroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .6rem;
}
